doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js", integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy", crossorigin="anonymous")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")
    link(rel="stylesheet" href="/cloud/dist/jqcloud.css")
    link(href="/plugins/Bootstrap-4-Tag-Input-Plugin-jQuery/tagsinput.css" rel="stylesheet" type="text/css")
    script(src="/cloud/dist/jqcloud.js")
    script(src="/plugins/Bootstrap-4-Tag-Input-Plugin-jQuery/tagsinput.js")

  body
    div(class='container')
        form(name="submitAlert" action='/submitAlert' method='POST')
            div(class='form-row')
                div(class='form-group col-md-6')
                    label(for='alertTitle') alertTitle
                    input(type='text' class='form-control' name='alertTitle' placeholder='alertTitle')
            div(class='form-row')
                div(class='form-group col-md-6')
                    label(for='alertBody') alertBody
                    input(type='text' class='form-control' name='alertBody' placeholder='alertBody')
            div(class='form-row')
                div(class='form-group col-md-6')
                    label(for='alertBody') location
                    input(type='text' class='form-control' name='location' placeholder='location')   
                div(class='row justify-content-right')
                    div(class='col-sm-12')
                        input(type='submit' class='btn-primary')
                if(error)
                    span(style='color:red;')=error
    block content
